body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #0a192f;
  color: #ccd6f6;
}

/* LEFT SIDE */
.sidebar {
  width: 30%;
  height: 100vh;
  position: fixed;
  padding: 40px;
}

.sidebar h1 {
  color: #64ffda;
}

.sidebar nav a {
  display: block;
  margin: 15px 0;
  color: #ccd6f6;
  text-decoration: none;
}

/* RIGHT SIDE */
.content {
  margin-left: 30%;
  padding: 40px;
  width: 70%;
}

section {
  margin-bottom: 80px;
}

.project {
  border: 1px solid #233554;
  padding: 15px;
  margin-bottom: 20px;
}